all:
  vars:
    # SSH Connection settings
    ansible_ssh_private_key_file: ~/.ssh/id_rsa
    ansible_ssh_common_args: "-o StrictHostKeyChecking=no"
    ansible_user: your_user # Default user for all hosts

  children:
    frontends:
      vars:
        # Variables shared by all frontend hosts
        container_env:
          CUSTOMERS_GRPC_HOST: "10.0.1.4"
          CUSTOMERS_GRPC_PORT: "5000"
          PRODUCTS_GRPC_HOST: "10.0.1.3"
          PRODUCTS_GRPC_PORT: "5000"
          WSDL_PAYMENT_HOST: "10.0.1.7"
          WSDL_PAYMENT_PORT: "80"
      hosts:
        customer-frontend:
          ansible_host: 192.168.1.10
          service: buyer-frontend
          service_port: 80
        products-frontend:
          ansible_host: 192.168.1.11
          service: seller-frontend
          service_port: 80

    rpcs:
      hosts:
        customers-rpc:
          ansible_host: 192.168.1.20
          service: customers-database
          # Host-specific variables
          container_env:
            DB_USER: postgres
            DB_PASS: your_secure_password
            DB_HOST: 10.0.2.13
            DB_PORT: 5432
            DB_NAME: customers
        products-rpc:
          ansible_host: 192.168.1.21
          service: products-database
          container_env:
            DB_USER: postgres
            DB_PASS: your_secure_password
            DB_HOST: 10.0.2.14
            DB_PORT: 5432
            DB_NAME: products

    payments:
      hosts:
        payments-api:
          ansible_host: 192.168.1.30
          service: payments-api
          service_port: 80
